@model TercumanTakipWeb.Models.isTakipListesi_DisGorev

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>isTakipListesi_DisGorev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dil" class="control-label"></label>
                <input asp-for="Dil" class="form-control" />
                <span asp-validation-for="Dil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaNo" class="control-label"></label>
                <input asp-for="DosyaNo" class="form-control" />
                <span asp-validation-for="DosyaNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanisanAdSoyad" class="control-label"></label>
                <input asp-for="DanisanAdSoyad" class="form-control" />
                <span asp-validation-for="DanisanAdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KurumHastaneAdi" class="control-label"></label>
                <input asp-for="KurumHastaneAdi" class="form-control" />
                <span asp-validation-for="KurumHastaneAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GidisTarihi" class="control-label"></label>
                <input asp-for="GidisTarihi" class="form-control" />
                <span asp-validation-for="GidisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GidisSaati" class="control-label"></label>
                <input asp-for="GidisSaati" class="form-control" />
                <span asp-validation-for="GidisSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonusSaati" class="control-label"></label>
                <input asp-for="DonusSaati" class="form-control" />
                <span asp-validation-for="DonusSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonlendirenKisi" class="control-label"></label>
                <input asp-for="YonlendirenKisi" class="form-control" />
                <span asp-validation-for="YonlendirenKisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkBilgi" class="control-label"></label>
                <input asp-for="EkBilgi" class="form-control" />
                <span asp-validation-for="EkBilgi" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KayitTarihi" class="control-label"></label>
                <input asp-for="KayitTarihi" class="form-control" />
                <span asp-validation-for="KayitTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
