@model TercumanTakipWeb.Models.isTakipListesi_MigrantTV

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>isTakipListesi_MigrantTV</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dil" class="control-label"></label>
                <input asp-for="Dil" class="form-control" />
                <span asp-validation-for="Dil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeviriKonusu" class="control-label"></label>
                <input asp-for="CeviriKonusu" class="form-control" />
                <span asp-validation-for="CeviriKonusu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeviriTarihi" class="control-label"></label>
                <input asp-for="CeviriTarihi" class="form-control" />
                <span asp-validation-for="CeviriTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KelimeSayisi" class="control-label"></label>
                <input asp-for="KelimeSayisi" class="form-control" />
                <span asp-validation-for="KelimeSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeslendirmeSayisi" class="control-label"></label>
                <input asp-for="SeslendirmeSayisi" class="form-control" />
                <span asp-validation-for="SeslendirmeSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkBilgi" class="control-label"></label>
                <input asp-for="EkBilgi" class="form-control" />
                <span asp-validation-for="EkBilgi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KayitTarihi" class="control-label"></label>
                <input asp-for="KayitTarihi" class="form-control" />
                <span asp-validation-for="KayitTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
