@model TercumanTakipWeb.Models.AramaBasligiListesi

@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Arama Başlığı</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AramaBasligi" class="control-label"></label>
                <input asp-for="AramaBasligi" class="form-control" />
                <span asp-validation-for="AramaBasligi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
