@{
    ViewData["Title"] = "Ana Sayfa";
    ViewData["ContName"] = "Home";
}

<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2 text-center">
            <div >
                <canvas id="telefonChart" width="300" height="300"></canvas>
            </div>
            <label>Telefon Grafiği</label>
        </div>
        <div class="col-md-2">
            <div>
                <canvas id="yuzyuzeChart" width="300" height="300"></canvas>
            </div>
            <label>Yüz Yüze Görüşme Grafiği</label>
        </div>
        <div class="col-md-2">
            <div>
                <canvas id="topluAramaChart" width="300" height="300"></canvas>
            </div>
            <label>Toplu Arama Grafiği</label>
        </div>
        <div class="col-md-2">
            <div>
                <canvas id="migrantTVChart" width="300" height="300"></canvas>
            </div>
            <label>MigrantTV Grafiği</label>
        </div>
        <div class="col-md-2">
            <div>
                <canvas id="disGorevChart" width="300" height="300"></canvas>
            </div>
            <label>Dış Görev Grafiği</label>
        </div>
        <div class="col-md-2">
            <div>
                <canvas id="yaziliCeviriChart" width="300" height="300"></canvas>
            </div>
            <label>Yazılı Çeviri Grafiği</label>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        async function fetchTranslationCounts() {
            try {
                let response = await fetch('/api/chart/getCounts');
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                let data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching translation counts:', error);
            }
        }

        function createDoughnutChart(canvasId, labels, data) {
            var ctx = document.getElementById(canvasId).getContext('2d');
            var chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Çeviri Sayısı',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(75, 192, 192, 0.7)',
                            'rgba(153, 102, 255, 0.7)',
                            'rgba(255, 159, 64, 0.7)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'right',
                    }
                }
            });
        }

        async function loadCharts() {
            let data = await fetchTranslationCounts();
            if (data) {
                createDoughnutChart('telefonChart', Object.keys(data.isTakipListesi_Telefon), Object.values(data.isTakipListesi_Telefon));
                createDoughnutChart('yuzyuzeChart', Object.keys(data.isTakipListesi_Yuzyuze), Object.values(data.isTakipListesi_Yuzyuze));
                createDoughnutChart('topluAramaChart', Object.keys(data.isTakipListesi_TopluArama), Object.values(data.isTakipListesi_TopluArama));
                createDoughnutChart('migrantTVChart', Object.keys(data.isTakipListesi_MigrantTV), Object.values(data.isTakipListesi_MigrantTV));
                createDoughnutChart('disGorevChart', Object.keys(data.isTakipListesi_DisGorev), Object.values(data.isTakipListesi_DisGorev));
                createDoughnutChart('yaziliCeviriChart', Object.keys(data.isTakipListesi_YaziliCeviri), Object.values(data.isTakipListesi_YaziliCeviri));
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            loadCharts();
        });
    </script>
}

<style>
    .container {
        margin-top: 40px;

    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .col-md-2 {
        text-align: center;
        margin-bottom: 30px;
    }
</style>
