@{
    Layout = null;
}

@model LoginVM

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <style>
        .full-height {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center full-height">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h2>Giriş yapmak için bilgilerinizi girin.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name.surname" />
                        <label asp-for="UserName" class="form-label">UserName</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
